* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 80px;
  padding-left: 80px;
}

.images {
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: lightcyan;
  border-radius: 20px;
}

.images-wrapper {
  display: flex;
  transition: 0.5s ease-in all;
}

.move-to-left {
  transform: translateX(-100%);
  transition: all 0.3s ease-in;
}

.move-to-right {
  transform: translateX(100%);
  transition: all 0.3s ease-in;

}

.images img {
  border-radius: 20px;
}

.fa-arrow-right {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.fa-arrow-left {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10;
}

.fa-arrow-left:hover,
.fa-arrow-right:hover {
  outline: 2px solid rgba(0, 0, 0, 0.9);
  color: white;
}

.dots {
  display: flex;
  gap: 30px;
  margin-top: 20px;
  justify-content: center;
  position: relative;
  width: max-content;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}

.dots span {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
}

span.big-dot {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%) translateX(-50%);
  transition: all 0.2s ease-in;
}

h1 {
  font-size: 40px;
  font-family: sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}